.chat-room-container {
    height: 100vh;
    width: calc(100vw - 73px - 246px - 236px);
    background-color: #35393f;

    font-family: 'Nunito', sans-serif;
    color: white;
    font-size: 15px;
    font-weight: 200;

    .chat-room-header {
        height: 45px;
        width: 100%;

        border-bottom: 1px solid black;

        display: flex;
        align-items: center;

        padding-left: 14px;

        h1 {
            color: #72767d;
            font-weight: 700;
            font-size: 28px;
        }

        h2 {
            padding-left: 7px;
            font-weight: 800;
            font-size: 17.5px;
        }
    }

    .chat-room-sub-container {
        height: calc(100vh - 50px);
        width: 100%;

       article {
            height: calc(100vh - 45px - 100px);
            padding-top: 7px;
            
            margin-bottom: 7px;

            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            ul {
                overflow-y: auto;

                li {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    
                    margin-top: 14px;
                    padding-left: 21px;
                    padding-top: 3.5px;
                    padding-bottom: 3.5px;

                    img {
                        height: 38.5px;
                        width: 38.5px;
                        margin-right: 14px;

                        border-radius: 50%;
                        border-style: solid;
                        border-color: black;
                        border-width: 0.7px;
                    }

                    .chatroom-child-message-time-show-relative-position-anchor {
                        position: relative;
                        width: 0;
                        height: 0;

                        .child-message-date {
                            position: absolute;
                            bottom: -12px;
                            left: 1px;

                            width: 50px;

                            color: #71757c;
                            font-weight: 600;
                            font-size: 10px;
                        }
                    }
                    
                    div {
                        font-size: 14px;
                        line-height: 21px;

                        div {
                            display: flex;
                            align-items: center;

                            h1 {
                                font-size: 14px;
                                font-weight: 700;
                            }

                            .message-sender-name:hover {
                                cursor: pointer;
                                text-decoration: underline;
                            }

                            h3 {
                                font-size: 10.5px;
                                font-weight: 700;
                                color: #71757c;
                                margin-left: 7px;
                                margin-top: 1.75px;
                            }
                        }
                    }

                    sub {
                        color: #71757c;
                        font-size: 9.1px;
                        font-weight: 600;
                        padding-left: 4.2px;

                    }

                    section {
                        display: inline;
                    }

                    .chatroom-message-hover-relative-position-anchor {
                        position: relative;
                        width: 0;
                        height: 0;

                        .message-hover-container {
                            display: flex;
                            justify-content: space-evenly;
                            align-items: center;

                            height: 28px;
                            width: 45px;

                            position: absolute;
                            left: calc(100vw - 73px - 246px - 236px - 120px);

                            bottom: 4.9px;

                            padding-left: 15px;

                            background-color: #35393f;
                            border: 0.1px solid black;
                            border-radius: 3.2px;

                            div {
                                img {
                                    height: 14px;
                                    width: 14px;
                                    filter: invert(1);
                                    border-radius: 0;
                                    border: none;
                                }

                                img:hover {
                                    cursor: pointer;
                                    opacity: 0.5;
                                }

                                .message-edit-tooltip-relative-position-anchor {
                                    position: relative;
                                    width: 0;
                                    height: 0;

                                    .message-edit-tooltip {
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;

                                        position: absolute;
                                        bottom: 22px;
                                        left: -15px;

                                        background-color: #18191c;
                                        padding: 9px 11px 9px 11px;
                                        border-radius: 5px;

                                        font-family: 'Nunito', sans-serif;
                                        color: white;
                                        font-size: 13px;
                                        font-weight: 700;
                                        text-align: center;
                                        line-height: 14px;
                                    }

                                    .message-edit-arrow-down {
                                        position: absolute;
                                        bottom: 17px;
                                        left: 0;

                                        width: 0; 
                                        height: 0; 
                                        border-left: 7px solid transparent;
                                        border-right: 7px solid transparent;
                                        
                                        border-top: 7px solid #18191c;
                                    }

                                    .message-edit-arrow-up {
                                        position: absolute;
                                        bottom: -24px;
                                        left: 0;

                                        width: 0; 
                                        height: 0; 
                                        border-left: 7px solid transparent;
                                        border-right: 7px solid transparent;
                                        
                                        border-bottom: 7px solid #18191c;
                                    }
                                }

                                .message-delete-tooltip-relative-position-anchor {
                                    position: relative;
                                    width: 0;
                                    height: 0;

                                    .message-delete-tooltip {
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;

                                        position: absolute;
                                        bottom: 22px;
                                        left: -24px;

                                        background-color: #18191c;
                                        padding: 9px 11px 9px 11px;
                                        border-radius: 5px;

                                        font-family: 'Nunito', sans-serif;
                                        color: white;
                                        font-size: 13px;
                                        font-weight: 700;
                                        text-align: center;
                                        line-height: 14px;
                                    }

                                    .message-delete-arrow-down {
                                        position: absolute;
                                        bottom: 17px;
                                        left: 0;

                                        width: 0; 
                                        height: 0; 
                                        border-left: 7px solid transparent;
                                        border-right: 7px solid transparent;
                                        
                                        border-top: 7px solid #18191c;
                                    }

                                    .message-delete-arrow-up {
                                        position: absolute;
                                        bottom: -24px;
                                        left: 0;

                                        width: 0; 
                                        height: 0; 
                                        border-left: 7px solid transparent;
                                        border-right: 7px solid transparent;
                                        
                                        border-bottom: 7px solid #18191c;
                                    }
                                }
                            }
                        }
                    }
                }

                #child-message {
                    margin-top: 0;
                    
                    .message-container {
                        margin-left: 55px;
                    }
                }

                li:hover {
                    background-color: #31353b;
                }

                li.editing {
                    height: 98px;

                    img {
                        margin-bottom: 21px;
                    }

                    form {
                        width: calc(100vw - 73px - 246px - 236px - 150px);

                        input {
                            height: 35px;
                            width: 100%;
                            margin-top: 7px;
                            margin-left: 1px;
                        }

                        .message-edit-text {
                            padding-top: 6px;
                            padding-left: 5px;
                            font-size: 11.5px;

                            .message-edit-cancel {
                                padding-right: 3px;
                                color: #04adf3;
                            }

                            .message-edit-cancel:hover {
                                cursor: pointer;
                                text-decoration: underline;
                            }

                            .message-edit-save {
                                color: #04adf3;
                            }

                            .message-edit-save:hover {
                                cursor: pointer;
                                text-decoration: underline;
                            }
                        }
                    }
                }

                #child-message.editing {
                    height: 75px;
                }
            }
        }



        form {
            input {
                height: 42px;
                width: calc(100vw - 73px - 246px - 236px - 60px);


                margin-left: 18px;
                margin-top: 14px;
                padding-left: 18px;

                background-color: #40444b;

                border-style: none;
                border-radius: 7px;

                font-family: 'Nunito', sans-serif;
                font-weight: 300;
                font-size: 14px;
                color: white;
            }

            input:focus {
                outline: none;
            }
        }
    }
}

