.empty-chat-room-container {
    height: 100vh;
    width: calc(100vw - 73px - 246px - 236px);
    background-color: #35393f;
    
    .empty-chat-room-header {
        height: 45px;
        width: 100%;
        border-bottom: 1px solid black;
    }

    .empty-chat-room-sub-container {
        display: flex;
        justify-content: center;
        align-items: center;

        width: calc(100vw - 73px - 246px - 236px);
        height: calc(100vh - 55px);

        .empty-chat-room-img {
            width: 320px;
            height: 250px;
        }
    }
}