.chat-room-container .chat-room-sub-container article ul li {
    .pin-message-modal-background {
        position: fixed;
        z-index: 300;
        background-color: rgba(1, 1, 1, 0.9);
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
    
        display: flex;
        justify-content: center;
        align-items: center;
        
        animation: fadeModalBackgroundIn 0.15s linear 1;
        animation-fill-mode: forwards;
    
        .pin-message-modal-container {
            position: absolute;
            background-color: #35393f;
            height: 270px;
            width: 440px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
    
            border-radius: 4px;

            animation: pmExpandForm 0.15s linear 1;
            animation-fill-mode: forwards;
    
            .pmm-close {
                position: absolute;
                left: 92%;
                bottom: 84%;
    
                background: none;
                width: auto;
                height: auto;
    
                color: #77797f;
                font-family: 'Nunito', sans-serif;
                font-size: 30px;
                border-style: none;

                animation: fadeFormContentsIn 0.15s linear 1;
                animation-fill-mode: forwards;
            }
    
            .pmm-close:hover {
                cursor: pointer;
                color: #dcddde;
            }
    
            .pmm-header {
                margin-top: 17px;
                padding-left: 16px;
                margin-bottom: 15px;

                font-size: 20px;

                animation: fadeFormContentsIn 0.15s linear 1;
                animation-fill-mode: forwards;
            }
    
            .pmm-description {
                padding-left: 16px;
                margin-bottom: 15px;

                font-size: 15px;

                animation: fadeFormContentsIn 0.15s linear 1;
                animation-fill-mode: forwards;
            }
    
            .pmm-message {
                display: flex;
                align-items: center;

                width: 395px;
                margin-left: 15px;
                padding-top: 12px;
                padding-left: 15px;
                padding-bottom: 12px;

                border: solid 0.1px black;
                border-radius: 3px;

                box-shadow: inset 0 -1em 3em rgba(0,0,0,0.1),
                    0.6em 0.6em 3em rgba(0,0,0,0.3);

                animation: fadeFormContentsIn 0.15s linear 1;
                animation-fill-mode: forwards;
                
                .pmm-message-profile-pic {
                    height: 41px;
                    width: 41px;
                }
                
                .pmm-message-right {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;

                    .pmm-message-username-date-header {
                        .pmm-message-username {
                            margin-left: 0;
                            margin-top: 0;

                            color: white;
                            font-size: 14px;
                            font-weight: 600;
                        }
        
                        .pmm-message-date {
                            padding-left: 7px;

                            color: #72767d;
                            font-size: 11px;
                            font-weight: 600;
                        }
                    }
        
                    .pmm-message-body {
                        font-size: 14px;
                    }

                }
            }
    
            .pmm-footer {
                display: flex;
                justify-content: flex-end;
                align-items: center;

                height: 80px;
                width: 440px;
                margin-top: 20px;

                border-bottom-right-radius: 4px;
                border-bottom-left-radius: 4px;
                background-color: #2c2d33;

                animation: fadePmFooterIn 0.15s linear 1;
                animation-fill-mode: forwards;

                .pmm-cancel-button {
                    margin-right: 20px;
                }

                .pmm-cancel-button:hover {
                    cursor: pointer;
                    text-decoration: underline;
                }
    
                .pmm-pin-button {
                    height: 40px;
                    width: 110px;
                    margin-right: 15px;

                    border-radius: 3px;
                    border-style: none;
                    
                    background-color: #5865f1;

                    color: white;
                }

                .pmm-pin-button:hover {
                    cursor: pointer;
                    background-color: #4753c4;
                }
            }
        }
    }

}
