.pn-container {
    .pn-left-container {

    // ---------------- Profile Pic Tooltip ----------------

        .pn-profile-picture-relative-position-anchor {
            position: relative;
            width: 0;
            height: 0;
            
            .pn-profile-picture-tooltip-show {
                display: flex;
                justify-content: center;
                align-items: center;

                position: absolute;
                bottom: 21px;
                right: -42px;

                height: 54px;
                width: 45px;
                padding: 0vh 10.5px 0vh 10.5px;
                border-radius: 7px;

                background-color: black;

                font-family: 'Nunito', sans-serif;
                color: white;
                font-size: 12px;
                font-weight: 900;
                text-align: center;
                line-height: 14px;
            }

            .pn-profile-picture-arrow-down {
                position: absolute;
                bottom: 14.7px;
                right: 10.5px;

                width: 0; 
                height: 0; 
                border-left: 7px solid transparent;
                border-right: 7px solid transparent;
                
                border-top: 7px solid black;
            }
        }


        // ---------------- Username Copied Animated Tooltip ----------------

        .pn-copied-relative-position-anchor {
            position: relative;
            width: 0;
            height: 0;

            .pn-copied-tooltip-show {
                position: absolute;
                bottom: 23.1px;
                right: -14px;

                display: flex;
                justify-content: center;
                align-items: center;

                height: 31.5px;
                padding: 0vh 10.5px 0vh 10.5px;
                border-radius: 7px;

                background-color: #3ba55d;

                font-family: 'Nunito', sans-serif;
                color: white;
                font-size: 12px;
                font-weight: 900;

                animation: fadeCopyMessage 1.5s linear infinite;
            }

            .pn-copied-arrow-down {
                position: absolute;
                bottom: 16.8px;
                right: 14px;

                width: 0; 
                height: 0; 
                border-left: 7px solid transparent;
                border-right: 7px solid transparent;
                
                border-top: 7px solid #3ba55d;

                animation: fadeCopyMessage 1.5s linear infinite;
            }

            @keyframes fadeCopyMessage {
                0% { opacity: 1; }
                10% { opacity: 1; }
                20% { opacity: 1; }
                30% { opacity: 1; }
                40% { opacity: 1; }
                50% { opacity: 1; }
                60% { opacity: 0.8; }
                70% { opacity: 0.6; }
                80% { opacity: 0.4; }
                90% { opacity: 0.2; }
                100% { opacity: 0; }
            }
        }
    }

    .pn-right-container {

        // ---------------- Home Tooltip ---------------

        .pn-home-relative-position-anchor {
            position: relative;
            width: 0;
            height: 0;

            .pn-home-tooltip-show {
                display: flex;
                justify-content: center;
                align-items: center;

                position: absolute;
                bottom: 21px;
                right: -9.8px;

                height: 28px;
                padding: 0vh 10.5px 0vh 10.5px;
                border-radius: 7px;

                background-color: black;

                font-family: 'Nunito', sans-serif;
                color: white;
                font-size: 12px;
                font-weight: 900;
            }

            .pn-home-arrow-down {
                position: absolute;
                bottom: 14.7px;
                right: 10.5px;

                width: 0; 
                height: 0; 
                border-left: 7px solid transparent;
                border-right: 7px solid transparent;
                
                border-top: 7px solid black;
            }
        }

        
        // ---------------- Logout Tooltip ----------------

        .pn-logout-relative-position-anchor {
            position: relative;
            width: 0;
            height: 0;

            .pn-logout-tooltip-show {
                display: flex;
                justify-content: center;
                align-items: center;

                position: absolute;
                bottom: 21px;
                right: -11.2px;

                height: 28px;
                padding: 0vh 10.5px 0vh 10.5px;
                border-radius: 7px;

                background-color: black;

                font-family: 'Nunito', sans-serif;
                color: white;
                font-size: 12px;
                font-weight: 900;
            }

            .pn-logout-arrow-down {
                position: absolute;
                bottom: 14.7px;
                right: 10.5px;

                width: 0; 
                height: 0; 
                border-left: 7px solid transparent;
                border-right: 7px solid transparent;
                
                border-top: 7px solid black;
            }
        }
    }
}