.text-channel-container {
    .ts-create-form-relative-position-anchor {
        position: fixed;
        z-index: 300;
        background-color: rgba(1, 1, 1, 0.9);
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;

        display: flex;
        justify-content: center;
        align-items: center;

        animation: fadeModalBackgroundIn 0.15s linear 1;
        animation-fill-mode: forwards;

        div {
            position: absolute;
            height: 210px;
            width: 465px;
            background-color: #35393f;

            border-radius: 7px;

            display: flex;
            flex-direction: column;
            justify-content: space-around;

            animation: tcCreateExpandForm 0.15s linear 1;

            button {
                position: absolute;
                left: 92%;
                bottom: 80%;

                background: none;
                width: auto;
                height: auto;

                color: #77797f;
                font-family: 'Nunito', sans-serif;
                font-size: 30px;
                border-style: none;

                animation: fadeFormContentsIn 0.15s linear 1;
                animation-fill-mode: forwards;
            }

            button:hover {
                cursor: pointer;
                color: #dcddde;
            }

            h4 {
                font-family: 'Nunito', sans-serif;
                color: white;
                font-size: 27px;
                font-weight: 900;

                animation: fadeFormContentsIn 0.15s linear 1;
                animation-fill-mode: forwards;
            }

            form {
                animation: fadeFormContentsIn 0.15s linear 1;
                animation-fill-mode: forwards;
                
                label {
                    display: block;
                    
                    margin-left: 17px;

                    font-family: 'Nunito', sans-serif;
                    color: #dcddde;
                    font-size: 12px;
                    font-weight: 600;
                    
                    input {
                        height: 35px;
                        width: 416.5px;
                        margin-top: 10.5px;
                        padding-left: 10.5px;

                        background-color: #2f3339;

                        border-radius: 2.1px;
                        border-style: solid;
                        border-color: black;
                        border-width: 1px;

                        font-family: 'Nunito', sans-serif;
                        color: #dcddde;
                        font-size: 14px;
                        font-weight: 600;
                    }

                    input:focus {
                        outline-style: solid;
                        outline-color: #05aef4;
                        border-width: 0;
                    }
                }

                footer {
                    display: flex;
                    justify-content: space-between;

                    input {
                        display: block;

                        height: 38.5px;
                        width: 119px;
                        padding-left: 2.8px;
                        margin-right: 16.8px;
                        margin-top: 20px;
                        background-color: #5865f1;
    
                        border-radius: 3.5px;

                        border-style: none;
    
                        color: white;
                    }

                    input:hover {
                        cursor: pointer;
                        background-color: #4753c4;
                    }

                    input#ts-invalid {
                        opacity: 0.5;
                        border-width: 0;
                        cursor:not-allowed;
                    }
                }
            }
        }
    }
}