.text-channel-container {
    .ts-create-form-relative-position-anchor {
        position: fixed;
        z-index: 300;
        background-color: rgba(1, 1, 1, 0.9);
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;

        display: flex;
        justify-content: center;
        align-items: center;

        div {
            position: absolute;
            height: 30%;
            width: 31%;
            background-color: #35393f;

            border-radius: 1vh;

            display: flex;
            flex-direction: column;
            justify-content: space-around;

            button {
                position: absolute;
                left: 90%;
                bottom: 80%;

                background: none;
                width: auto;
                height: auto;

                color: #77797f;
                font-family: 'Nunito', sans-serif;
                font-size: 30px;
                border-style: none;
            }

            button:hover {
                cursor: pointer;
                color: #dcddde;
            }

            h4 {
                font-family: 'Nunito', sans-serif;
                color: white;
                font-size: 27px;
                font-weight: 900;
            }

            form {

                label {
                    display: block;
                    
                    margin-left: 2.7vh;

                    font-family: 'Nunito', sans-serif;
                    color: #dcddde;
                    font-size: 12px;
                    font-weight: 600;
                    
                    input {
                        height: 5vh;
                        width: 55vh;
                        margin-top: 1.5vh;
                        padding-left: 1.5vh;

                        background-color: #2f3339;

                        border-radius: 0.3vh;
                        border-style: solid;
                        border-color: black;
                        border-width: 1px;

                        font-family: 'Nunito', sans-serif;
                        color: #dcddde;
                        font-size: 14px;
                        font-weight: 600;
                    }

                    input:focus {
                        outline-style: solid;
                        outline-color: #05aef4;
                        border-width: 0;
                    }
                }

                footer {
                    display: flex;
                    justify-content: space-between;

                    input {
                        display: block;

                        height: 5.5vh;
                        width: 17vh;
                        padding-left: 0.4vh;
                        margin-right: 2.4vh;
                        margin-top: 1.7vh;
                        background-color: #5865f1;
    
                        border-radius: 0.5vh;

                        border-style: none;
    
                        color: white;
                    }

                    input:hover {
                        cursor: pointer;
                        background-color: #4753c4;
                    }

                    input#ts-invalid {
                        opacity: 0.5;
                        border-width: 0;
                        cursor:not-allowed;
                    }
                }
            }
        }
    }
}