
.chat-room-container {
    height: 100vh;
    width: 122vh;
    background-color: #35393f;
    overflow-y: auto;

    .chat-room-header {
        height: 6.5vh;
        width: 100%;

        border-bottom: 1px solid black;
    }
}
