@keyframes fadeFormContentsIn {
    0% { opacity: 0.1; }
    20% { opacity: 0.1; }
    40% { opacity: 0.1; }
    60% { opacity: 0.1; }
    82% { opacity: 0.1; }
    84% { opacity: 0.2; }
    86% { opacity: 0.3; }
    88% { opacity: 0.4; }
    90% { opacity: 0.5; }
    92% { opacity: 0.6; }
    94% { opacity: 0.7; }
    96% { opacity: 0.8; }
    98% { opacity: 0.9; }
    100% { opacity: 1; }
}