
.pn-container {
    position: absolute;
    left: 73px;
    bottom: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 49px;
    width: 17.1%;

    z-index: 5;

    background-color: #292b2f;

    .pn-left-container {
        display: flex;
        align-items: center;

        margin-left: 7px;

        .pn-profile-pic {
            width: 31.5px;
            height: 31.5px;
            margin-right: 3.5px;

            background: image-url("default_profile_picture.png");
            background-size: 100% 100%;
            background-position: center;

            border-style: solid;
            border-color: black;
            border-width: 0.3px;
            border-radius: 50%;

            .change-profile-pic-input {
                display: none;
            }
        }
    
        .pn-profile-pic:hover {
            opacity: 0.7;
            cursor: pointer;
        }

        .pn-profile-pic#has-photo {
            background-size: 100% 100%;
            background-position: center;
            border-radius: 50%;
            filter: invert(0);
        }

        .pn-profile-picture-relative-position-anchor {
            position: relative;
            width: 0;
            height: 0;
            
            .pn-profile-picture-tooltip-show {
                display: flex;
                justify-content: center;
                align-items: center;

                position: absolute;
                bottom: 21px;
                right: -42px;

                height: 54px;
                width: 45px;
                padding: 0vh 10.5px 0vh 10.5px;
                border-radius: 7px;

                background-color: black;

                font-family: 'Nunito', sans-serif;
                color: white;
                font-size: 12px;
                font-weight: 900;
                text-align: center;
                line-height: 14px;
            }

            .pn-profile-picture-arrow-down {
                position: absolute;
                bottom: 14.7px;
                right: 10.5px;

                width: 0; 
                height: 0; 
                border-left: 7px solid transparent;
                border-right: 7px solid transparent;
                
                border-top: 7px solid black;
            }
        }

        .pn-username {
            margin-top: 2.1px;
            margin-left: 3.5px;

            h2{
                font-family: 'Nunito', sans-serif;
                color: white;
                font-size: 14px;
                font-weight: 700;
                margin-bottom: 2.1px;
            }
    
            h3 {
                font-family: 'Nunito', sans-serif;
                color: #8e9296;
                font-size: 10px;
                font-weight: 500;
            }
        }

        .pn-username:hover {
            cursor: pointer;
        }


        .pn-copied-relative-position-anchor {
            position: relative;
            width: 0;
            height: 0;

            .pn-copied-tooltip-show {
                position: absolute;
                bottom: 23.1px;
                right: -14px;

                display: flex;
                justify-content: center;
                align-items: center;

                height: 31.5px;
                padding: 0vh 10.5px 0vh 10.5px;
                border-radius: 7px;

                background-color: #3ba55d;

                font-family: 'Nunito', sans-serif;
                color: white;
                font-size: 12px;
                font-weight: 900;

                animation: fadeCopyMessage 1.5s linear infinite;
            }

            .pn-copied-arrow-down {
                position: absolute;
                bottom: 16.8px;
                right: 14px;

                width: 0; 
                height: 0; 
                border-left: 7px solid transparent;
                border-right: 7px solid transparent;
                
                border-top: 7px solid #3ba55d;

                animation: fadeCopyMessage 1.5s linear infinite;
            }

            @keyframes fadeCopyMessage {
                0% { opacity: 1; }
                10% { opacity: 1; }
                20% { opacity: 1; }
                30% { opacity: 1; }
                40% { opacity: 1; }
                50% { opacity: 1; }
                60% { opacity: 0.8; }
                70% { opacity: 0.6; }
                80% { opacity: 0.4; }
                90% { opacity: 0.2; }
                100% { opacity: 0; }
            }
        }
    }


    .pn-right-container {
        display: flex;
        align-items: center;
        margin-right: 7px;

        .pn-home-icon-container {
            display: flex;
            justify-content: center;
            align-items: center;

            height: 35px;
            width: 35px;

            border-radius: 10px;

            img {
                width: 17.5px;
                height: 17.5px;
                filter: invert(1);
            }
        }
    
        .pn-home-icon-container:hover {
            background-color: #34383e;
        }
        
        .pn-home-relative-position-anchor {
            position: relative;
            width: 0;
            height: 0;

            .pn-home-tooltip-show {
                display: flex;
                justify-content: center;
                align-items: center;

                position: absolute;
                bottom: 21px;
                right: -9.8px;

                height: 28px;
                padding: 0vh 10.5px 0vh 10.5px;
                border-radius: 7px;

                background-color: black;

                font-family: 'Nunito', sans-serif;
                color: white;
                font-size: 12px;
                font-weight: 900;
            }

            .pn-home-arrow-down {
                position: absolute;
                bottom: 14.7px;
                right: 10.5px;

                width: 0; 
                height: 0; 
                border-left: 7px solid transparent;
                border-right: 7px solid transparent;
                
                border-top: 7px solid black;
            }
        }
    
        .pn-logout-icon-container {
            display: flex;
            justify-content: center;
            align-items: center;

            height: 35px;
            width: 35px;

            border-radius: 10px;

            img {
                width: 17.5px;
                height: 17.5px;
                filter: invert(1);
            }
        }

        .pn-logout-icon-container:hover {
            background-color: #34383e;
            cursor: pointer;
        }

        .pn-logout-relative-position-anchor {
            position: relative;
            width: 0;
            height: 0;

            .pn-logout-tooltip-show {
                display: flex;
                justify-content: center;
                align-items: center;

                position: absolute;
                bottom: 21px;
                right: -11.2px;

                height: 28px;
                padding: 0vh 10.5px 0vh 10.5px;
                border-radius: 7px;

                background-color: black;

                font-family: 'Nunito', sans-serif;
                color: white;
                font-size: 12px;
                font-weight: 900;
            }

            .pn-logout-arrow-down {
                position: absolute;
                bottom: 14.7px;
                right: 10.5px;

                width: 0; 
                height: 0; 
                border-left: 7px solid transparent;
                border-right: 7px solid transparent;
                
                border-top: 7px solid black;
            }
        }
    }
}
