.user-sidebar-container {
    height: 100vh;
    width: 236px;
    background-color: #2f3137;

    .user-sidebar-header-box {
        height: 45px;
        width: 100%;

        border-bottom: 1px solid black;
    }

    h1 {
        margin-top: 14px;
        margin-left: 17.5px;
        margin-bottom: 7px;

        font-family: 'Nunito', sans-serif;
        color: #8e9296;
        font-size: 12px;
        font-weight: 900;
    }

    ul {
        margin-top: 3.5px;
        height: calc(100vh - 45px - 35px);
        overflow-y: auto;

        li {
            padding-left: 10px;
            margin-right: 8.4px;
            border-radius: 7px;

            font-family: 'Nunito', sans-serif;
            color: #8e9296;
            font-size: 17px;
            font-weight: 600;

            section {
                display: flex;
                align-items: center;
                height: 40.6px;
                margin-left: 2.8px;
                border-radius: 4.9px;
                
                img {
                    width: 30.1px;
                    height: 30.1px;
                    margin-right: 9.8px;
                    margin-left: 2.8px;

                    border-radius: 50%;
                    border-style: solid;
                    border-color: black;
                    border-width: 0.7px;
                }
    
                img:hover {
                    opacity: 0.7;
                }
    
                .king-icon {
                    width: 14px;
                    height: 11.9px;
                    filter: invert(0);
    
                    margin-left: 14px;
                }
            }

            section:hover {
                cursor: pointer;
                background-color: #33373c;
            }


            // ------------- User profile display -------------

            .user-show-relative-position-anchor {
                width: 0;
                height: 0;

                .user-show-profile-display {
                    position: absolute;
                    right: 250px;

                    height: 210px;
                    width: 280px;

                    background-color: #18191c;

                    border-radius: 7px;
                    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
                                0.6em 0.6em 1em rgba(0,0,0,0.3);

                    animation: slideUserProfile 0.17s linear 1;
                    animation-fill-mode: forwards;

                    .user-show-profile-header {
                        background-color: #262429;
                        height: 56px;
                        width: 100%;

                        border-top-left-radius: 7px;
                        border-top-right-radius: 7px;
                    }

                    button {
                        background: none;

                        position: absolute;
                        left: 90%;
                        bottom: 84.5%;

                        border-style: none;
                        border-radius: 7px;
                        border-color: #18191c;

                        font-family: 'Nunito', sans-serif;
                        color: white;
                        font-size: 21px;
                        font-weight: 600;
                    }

                    button:hover {
                        opacity: 0.4;
                        cursor: pointer;
                    }

                    img {
                        position: absolute;
                        bottom: 112px;
                        left: 14px;

                        height: 70px;
                        width: 70px;

                        border-style: solid;
                        border-width: 7px;
                        border-color: #18191c;
                        border-radius: 50%;
                    }

                    img:hover {
                        opacity: 0.5;
                    }

                    div {
                        height: 154px;
                        display: flex;
                        flex-direction: column;

                        h1 {
                            margin-top: 49px;
                            margin-left: 14px;
                            color: white;
                            font-size: 28px;
                        }
    
                        form {
                            margin-top: 17.5px;
                            margin-left: 14px;
    
                            input {
                                height: 35px;
                                width: 92%;

                                background-color: #292b2f;

                                border-style: none;
                                border-radius: 3.5px;

                                font-family: 'Nunito', sans-serif;
                                color: #dcddde;
                                font-size: 14px;
                                font-weight: 600;

                                padding-left: 7px;

                            }

                            input:focus {
                                outline-style: solid;
                                outline-color: #05aef4;
                                border-width: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

@keyframes slideUserProfile {
    from { right: 260px; }
    to { right: 250px; }
}
