.ss-container::-webkit-scrollbar {
    display: none;
}

.ss-container {
    height: 100vh;
    width: 73px;
    z-index: 10;

    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;

    background-color: #202225;


    // ---------------- Home Link ----------------

    .home-link {
        .ss-logo-container {
            height: 50px;
            width: 50px;
            background-color: #37393f;
    
            margin-left: 10.5px;
            margin-top: 11.5px;

            border-radius: 50px;

            img {
                margin-left: 3.75px;
                margin-top: 3.75px;
                height: 40px;
                width: 40px;
            }
        }

        .ss-logo-container:hover {
            cursor: pointer;
        }

        .ss-logo-container#selected {
            background-color: #0f65ae;
            border-radius: 18px;
        }

        .ss-logo-container#start-hover-home {
            animation: hoverIconGrow 0.15s linear 1, grayToBlue 0.1s linear 1;
            animation-fill-mode: forwards;
        }

        .ss-logo-container#stop-hover-home {
            animation: hoverIconShrinkBlue 0.2s linear 1, blueToGray 0.2s ease-in 1;
        }


        // Hover / selected bar
        .ss-home-hover-bar-relative-position-anchor {
            position: relative;
            width: 0;
            height: 0;

            .ss-home-hover-bar#start-hover-home {
                background-color: #fefefe;
                height: 20px;
                width: 9px;
                border-radius: 10px;

                position: absolute;
                top: 15px;
                left: -5px;

                animation: hoverBarGrow 0.1s linear 1;
                animation-fill-mode: forwards;
            }

            .ss-home-hover-bar#stop-hover-home {
                background-color: #fefefe;
                height: 20px;
                width: 9px;
                border-radius: 10px;

                position: absolute;
                top: 15px;
                left: -5px;

                animation: hoverBarShrink 0.1s linear 0.05s;
                animation-fill-mode: forwards;
            }

            .ss-home-hover-bar#start-select-home {
                background-color: #fefefe;
                width: 9px;
                height: 40px;
                border-radius: 10px;

                position: absolute;
                top: 4.8px;
                left: -5px;

                animation: selectBarGrow 0.1s linear 1;
                animation-fill-mode: forwards;
            }

            .ss-home-hover-bar#selected {
                background-color: #fefefe;
                width: 9px;
                height: 40px;
                border-radius: 10px;

                position: absolute;
                top: 4.8px;
                left: -5px;
            }
        }
    }

    .ss-home-link-under-bar {
        width: 48%;
        height: 5px;
        margin-left: 18.5px;
        margin-top: 7px;

        border-bottom-style: solid;
        border-bottom-width: 1.5px;
        border-bottom-color: #37393f;
    }


    // ---------------- Server Icons ----------------

    .ss-servers {
        div {
            a {
                text-decoration: none;

                li {
                    display: flex;
                    align-items: center;
                    justify-content: center;
            
                    height: 50px;
                    width: 50px;
            
                    margin-left: 10.5px;
                    margin-top: 11px;
            
                    background-color: #37393f;
            
                    border-radius: 50px;

                    div {
                        font-family: 'Nunito', sans-serif;
                        color: white;
                        font-size: 20px;
                        font-weight: 500;
                    }
                }

                li#server-has-photo {
                    height: 50px;
                    width: 50px;
                    background-size: 100% 100%;
                    background-position: center;
                    border-radius: 50%;
                }

                li:hover {
                    cursor: pointer;
                }

                li.start-hover#no-photo {
                    animation: hoverIconGrow 0.15s linear 1, grayToBlue 0.1s linear 1;
                    animation-fill-mode: forwards;
                }

                li.stop-hover#no-photo {
                    animation: hoverIconShrinkBlue 0.2s linear 1, blueToGray 0.2s ease-in 1;
                }

                li#server-has-photo:hover {
                    background-color: white;
                    cursor: pointer;
                }

                li.start-hover#server-has-photo {
                    animation: hoverIconGrow 0.15s linear 1;
                    animation-fill-mode: forwards;
                }

                li.stop-hover#server-has-photo {
                    animation: hoverIconShrink 0.2s linear 1;
                }
    
                li.selected {
                    background-color: #0f65ae;
                    border-radius: 18px;
                }

                li#server-has-photo.selected {
                    border-radius: 18px;
                }
            }

            // Hovered / selected bar
            .ss-hover-bar-relative-position-anchor {
                position: relative;
                width: 0;
                height: 0;

                .ss-server-hover-bar#start-hover {
                    background-color: #fefefe;
                    width: 9px;
                    height: 20px;
                    border-radius: 10px;

                    position: absolute;
                    top: 15px;
                    left: -5px;

                    animation: hoverBarGrow 0.1s linear 1;
                    animation-fill-mode: forwards;
                }

                .ss-server-hover-bar#stop-hover {
                    background-color: #fefefe;
                    width: 9px;
                    height: 20px;
                    border-radius: 10px;

                    position: absolute;
                    top: 15px;
                    left: -5px;

                    animation: hoverBarShrink 0.1s linear 0.05s;
                    animation-fill-mode: forwards;
                }

                .ss-server-hover-bar#start-select {
                    background-color: #fefefe;
                    width: 9px;
                    height: 40px;
                    border-radius: 10px;

                    position: absolute;
                    top: 4.8px;
                    left: -5px;

                    animation: selectBarGrow 0.1s linear 1;
                    animation-fill-mode: forwards;
                }

                .ss-server-hover-bar#selected {
                    background-color: #fefefe;
                    width: 9px;
                    height: 40px;
                    border-radius: 10px;

                    position: absolute;
                    top: 4.8px;
                    left: -5px;
                }
            }
        }
    }


    // ---------------- Add Server Button ----------------

    button {
        display: flex;
        align-items: center;
        justify-content: center;

        height: 50px;
        width: 50px;

        margin-left: 11.5px;
        margin-top: 11px;
        margin-bottom: 11.5px;

        background-color: #37393f;

        border-radius: 50px;
        border: none;

        font-family: 'Nunito', sans-serif;
        text-decoration: none;
        color: white;
        font-size: 20px;
        font-weight: 500;
    }

    button:hover {
        cursor: pointer;
    }

    .ss-create-button#start-hover-create {
            animation: hoverIconGrow 0.15s linear 1, grayToGreen 0.1s linear 1;
            animation-fill-mode: forwards;
        }

    .ss-create-button#stop-hover-create {
        animation: hoverIconShrinkGreen 0.2s linear 1, greenToGray 0.2s ease-in 1;
    }
}