.ss-container {
    .ss-create-form-relative-position-anchor {
        position: fixed;
        z-index: 300;
        background-color: rgba(1, 1, 1, 0.9);
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;

        display: flex;
        justify-content: center;
        align-items: center;

        #new-server-loading {
            cursor: wait;
        }

        div {
            position: absolute;
            background-color: white;
            height: 420px;
            width: 450px;
            display: flex;
            justify-content: space-evenly;

            border-radius: 7px;

            button {
                position: absolute;
                left: 90%;
                bottom: 88%;

                background: none;
                width: auto;
                height: auto;

                color: #a5aaae;
                font-family: 'Nunito', sans-serif;
                font-size: 30px;
            }

            button:hover {
                color: #2e3337;
            }

            div {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                height: 240px;
                width: 75%;
                margin-top: 21px;
                
                h1 {
                    font-family: 'Nunito', sans-serif;
                    font-size: 26px;
                    font-weight: 900;
                    margin-bottom: 8.4px;
                    text-align: center;
                }

                h2 {
                    font-family: 'Nunito', sans-serif;
                    font-size: 15px;
                    font-weight: 400;
                    text-align: center;
                    line-height: 21px;
                }

                .server-custom-file-input {
                    margin-top: 21px;
                    height: 105px;
                    width: 112px;
                    background: image-url("image_upload_icon.png");
                    background-color: white;
                    background-size: 100% 100%;
                    background-position: center;
                    border-radius: 50%;

                    .file-input {
                        display: none;
                    }
                }

                .server-custom-file-input {
                    cursor: pointer;
                }
            }

            form {
                position: relative;
                top: 70%;

                height: 140px;

                font-family: 'Nunito', sans-serif;
                font-size: 13px;
                font-weight: 400;

                label {
                    display: block;

                    font-weight: 700;
                    font-size: 11px;
                    color: #8e9296;

                    input {
                        display: block;
                        height: 35px;
                        width: 385px;
                        margin-top: 7px;
                        padding-left: 7px;

                        border-radius: 2.1px;
                        border-style: solid;
                        border-color: #8e9296;
                        border-width: 1px;
                    }
                }

                label#ss-error {
                    color: #ed4245;
                    
                    span {
                        font-style: italic;
                    }
                }

                footer {
                    display: flex;
                    justify-content: space-between;

                    .ss-create-back-button {
                        margin-top: 23px;
                        margin-left: 9px;
                        font-size: 14px;
                        font-weight: 700;
                    }

                    .ss-create-back-button:hover {
                        cursor: pointer;
                    }
                    
                    .ss-submit-button {
                        height: 35px;
                        width: 91px;
                        padding-left: 0;
                        margin-top: 11.9px;
                        background-color: #5865f1;
    
                        border-radius: 3px;
                        border-style: none;
    
                        color: white;
                    }

                    .ss-submit-button#ss-invalid {
                        background-color: #a6adf4;
                        border-width: 0;
                        cursor:not-allowed;
                    }
    
                    .ss-submit-button:hover {
                        background-color: #4753c4;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}