@keyframes sicButtonTextFadeIn {
    from { color: rgba(0, 0, 0, 0); }
    to { color: white; }
}

@keyframes sicButtonTextFadeOut {
    from { color: white; }
    to { color: rgba(0, 0, 0, 0); }
}

@keyframes sicButtonBlueToGreen {
    from { background-color: #4753c4; }
    to { background-color: #3ba55d; }
}

@keyframes sicButtonGreenToBlue {
    from { background-color: #3ba55d; }
    to { background-color: #4753c4; }
}

@keyframes sicInputBlackToGreen {
    from { border-color: black; }
    to { border-color: #3ba55d; }
}

@keyframes sicInputGreenToBlack {
    from { border-color: #3ba55d; }
    to { border-color: black; }
}

@keyframes sioExpandForm {
    from { height: 20px; width: 200px; opacity: 0.1; }
    to { height: 130px; width: 425px; opacity: 1; }
}

@keyframes sioCloseForm {
    from { height: 130px; width: 425px; opacity: 1; }
    to { height: 0px; width: 0px; opacity: 0; }
}

@keyframes addExpandForm {
    from { height: 50px; width: 200px; opacity: 0.1 }
    to { height: 300px; width: 450px; opacity: 1; }
}

@keyframes addShrinkForm {
    from { height: 400px; }
    to { height: 300px; }
}

@keyframes addCloseForm {
    from { height: 300px; width: 450px; opacity: 1 }
    to { height: 0px; width: 0px; opacity: 0; }
}

@keyframes createAndJoinExpandForm {
    from { height: 300px; }
    to { height: 400px; }
}

@keyframes createAndJoinCloseForm {
    from { height: 400px; width: 450px; opacity: 1; }
    to { height: 0px; width: 0px; opacity: 0; }
}

@keyframes epExpandForm {
    from { height: 50px; width: 200px; opacity: 0.1; }
    to { height: 275px; width: 425px; opacity: 1; }
}

@keyframes epCloseForm {
    from { height: 275px; width: 425px; opacity: 1; }
    to { height: 0px; width: 0px; opacity: 0; }
}

@keyframes fadeSSAddFooterIn {
    0% { opacity: 0; }
    20% { opacity: 0; }
    40% { opacity: 0; }
    60% { opacity: 0; }
    82% { opacity: 0.1; }
    84% { opacity: 0.2; }
    86% { opacity: 0.3; }
    88% { opacity: 0.4; }
    90% { opacity: 0.5; }
    92% { opacity: 0.6; }
    94% { opacity: 0.7; }
    96% { opacity: 0.8; }
    98% { opacity: 0.9; }
    100% { opacity: 1; }
}