.server-settings-container#updated-server-loading {
    cursor: wait;
}

.server-settings-container {
    position: fixed;
    z-index: 300;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;

    background-color: #35393f;

    .server-settings-cancel-button {
        position: absolute;
        right: 17vw;
        top: 9vh;

        display: flex;
        flex-direction: column;

        .server-settings-x-button {
            display: flex;
            justify-content: center;
            align-items: center;

            z-index: 100;

            height: 28px;
            width: 28px;
            padding-bottom: 3px;
            padding-left: 1.5px;
            padding-right: 1.5px;

            border-width: 2px;
            border-style: solid;
            border-color: #6f7379;
            border-radius: 21px;

            font-family: 'Nunito', sans-serif;
            color: white;
            font-size: 24px;
            font-weight: 200;
        }

        .server-settings-x-button:hover {
            cursor: pointer;
            background-color: #474c52;
        }

        p {
            margin-top: 7px;
            margin-left: 8px;

            font-family: 'Nunito', sans-serif;
            color: #70747b;
            font-size: 10px;
            font-weight: 800;
        }
    }

    .server-settings-left {
        height: 100%;
        width: 30vw;

        background-color: #2f3137;

        display: flex;
        justify-content: flex-end;
        align-items: flex-start;

        padding-top: 88px;
        padding-right: 14px;

        ul {
            li {
                display: flex;
                justify-content: flex-start;
                align-items: center;

                height: 35px;
                width: 168px;

                padding-left: 14px;

                background-color: #383c43;

                font-family: 'Nunito', sans-serif;
                color: #b9bbbe;
                font-size: 14px;
                font-weight: 600;

                border-radius: 7px;
            }
            
            li:hover {
                cursor: auto;
                background-color: #383c43;
                border-radius: 7px;
            }

            .server-settings-delete-button {
                margin-top: 7px;
                background-color: #2f3137;
                color: #ed4245
            }

            .server-settings-delete-button:hover {
                background-color: #33373c;
                cursor: pointer;
            }
        }
    }

    .server-settings-right {
        height: 100vh;
        width: 70vw;

        padding-top: 88px;
        padding-left: 14px;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        position:absolute;
        top: 0;
        left: 30vw;

        h1 {
            font-family: 'Nunito', sans-serif;
            font-weight: 900;
            color: white;
            font-size: 19px;
            margin-left: 21px;
        }

        form {
            margin-left: 14px;

            .server-settings-form-container {
                height: 20vh;
                width: 47vw;

                margin-left: 0;
                margin-top: 0;

                background-color: #35393f;

                .server-settings-image-upload-container {
                    height: 100%;
                    width: 100%;
                    margin-top: 14px;
                    margin-left: 15px;
                    padding-left: 0;
                    background-color: #35393f;
                    display: flex;
                    align-items: flex-start;
                    flex-direction: column;

                    h2 {
                        margin-top: 7px;
                        font-family: 'Nunito', sans-serif;
                        font-weight: 600;
                        color: #8d9195;
                        font-size: 15px;
                    }

                    .server-settings-image-upload {
                        height: 98px;
                        width: 98px;
                        background-color: #0f65ae;
                        margin-left: 0;
        
                        font-family: 'Nunito', sans-serif;
                        font-weight: 900;
                        color: white;
                        font-size: 28px;
        
                        border-radius: 50%;
                        border-style: solid;
                        border-width: 0.1vh;
                        border-color: black;

                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .server-update-file-input {
                            display: none;
                        }
                    }

                    .server-settings-image-upload#server-update-has-photo {
                        height: 98px;
                        width: 98px;
                        background-color: white;
                        background-size: 100% 100%;
                        background-position: center;
                        border-radius: 50%;
                    }
        
                    .server-settings-image-upload:hover {
                        cursor: pointer;
                        filter: brightness(50%);
        
                        p {
                            display: none;
                        }
                    }

                    .server-settings-image-upload:hover:after {
                        content: "CHANGE ICON";
                        font-size: 10.5px;
                        text-align: center;
                    }

                    .server-settings-image-upload#server-update-has-photo:after {
                        content: "CHANGE ICON";
                        font-size: 10.5px;
                        text-align: center;
                    }
                }
    
    
                label {
                    display: block;
    
                    font-family: 'Nunito', sans-serif;
                    color: #8d9195;
                    font-size: 13px;
                    font-weight: 800;
    
                    input {
                        display: block;
    
                        height: 33px;
                        width: 420px;
    
                        margin-top: 8px;
                        padding-left: 7px;
    
                        background-color: #2f3339;
    
                        border-style: solid;
                        border-width: 1px;
                        border-color: black;
                        border-radius: 3px;
    
                        font-family: 'Nunito', sans-serif;
                        color: white;
                        font-size: 1.8vh;
                        font-weight: 400;
                    }
    
                    input:focus {
                        outline-style: solid;
                        outline-color: #05aef4;
                        border-width: 0;
                    }
                }

                label#server-settings-error {
                    color: #ed4245;

                    span {
                        font-style: italic;
                    }
                }
            }


            div {
                background-color: #212527;
                height: 8.5vh;
                width: 14vw;

                margin-left: 31.8vw;
                border-radius: 7px;
                
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                
                section {
                    background-color: #212527;
                    border-style: none;

                    font-family: 'Nunito', sans-serif;
                    color: white;
                    font-size: 1.6vh;
                    font-weight: 600;
                    margin-right: 0.6vw;
                }

                section:hover {
                    cursor: pointer;
                    text-decoration: underline;
                }

                .server-settings-save-changes {
                    background-color: #3ba55d;
    
                    padding: 1.5vh 1.5vh 1.5vh 1.5vh;
                    width: 8vw;
                    margin-right: 0;

                    border-style: none;
                    border-radius: 0.4vh;

                    font-family: 'Nunito', sans-serif;
                    color: white;
                    font-size: 1.6vh;
                    font-weight: 600;
                }
        
                .server-settings-save-changes:hover {
                    cursor: pointer;
                    background-color: #2d7d46;
                }

                .server-settings-save-changes#server-settings-invalid {
                    cursor:not-allowed;
                    opacity: 0.5;
                }
            }
        }
    }
}