.ep-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 80px;

    .ep-header-left {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #0f65ae;

        padding-left: 15px;
        padding-bottom: 5px;
        margin-left: 10px;
        margin-top: 10px;

        border-radius: 10px;
        border-width: 3px;
        border-color: black;
        border-style: solid;

        text-decoration: none;

        h1 {
            font-family: 'Nunito', sans-serif;
            font-size: 30px;
            font-weight: 900;
            color: white;

            sub {
                font-size: 10px;
                font-weight: 600;
                color: white;
                position: relative;
                top: 13px;
                right: 33px;
            }
        }

        img {
            height: 60px;
            width: 60px;
        }
    }

    .ep-header-right {
        display: flex;
        justify-content: space-around;
        align-items: baseline;
        background-color: #0f65ae;
        padding-top: 10px;
        padding-bottom: 7px;
        padding-left: 10px;
        margin-right: 17px;
        border-radius: 10px;
        border-width: 3px;
        border-color: black;
        border-style: solid;

        img {
            height: 35px;
            width: 35px;
            padding-right: 10px;
            filter: invert(100%);
        }

        img:hover {
            opacity: 0.5;
        }
    }
}